/* μλ¬Έν°νΈ */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap'); 


/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
a{
  text-decoration: none;
  font-style: inherit;
  color:inherit;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset */

*{
  font-family: sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  line-height: 1.2;
}

/* main */
header{box-sizing: border-box;}
.logo_menu{position: relative; text-align: center;} 
.logo_menu h1{font-size: 50px; font-family: 'PT Serif', serif;}
.logo_menu .menu{position: absolute; top: 10px; right: 24px;}

/* gnb */
.gnb{ margin: 3rem 0}
.gnb ul{display: flex;margin:0 auto;width:60%; align-items: center; justify-content:space-between;
 }
 .gnb-list{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #000;
	color:#fff;
	z-index: 2;
	padding: 3rem 1rem;
	
 }
 .gnb-list .logo_menu{text-align: left;}
 .gnb-list .gnb{display: flex; justify-content: space-between;}
 .gnb-list .gnb ul{display:block; margin: 0; padding: 0 1rem;}
 .gnb-list .gnb .depth_1 li{display: flex; justify-content: space-between;margin-bottom: 1rem;}
 .gnb-list .gnb .depth_1 li a{font-size: 3rem; font-weight: 900;}
 .gnb-list .gnb .depth_1 li ul li{font-size: 2rem; }
 .gnb-list .right {width: 30%;}
 .gnb-list .right .search{width: 100%;  position: relative; padding: 1rem;}
 .gnb-list .right input{width: 100%; height: 2rem; border:none; background-color: transparent; font-size: 2rem; border-bottom: 2px solid #333; padding-bottom: 1rem; color:#fff;}
 .gnb-list .right input:focus{outline: none;}
 .gnb-list .right span{position: absolute;top: 1rem; right: 4rem;}
 .gnb-list .right span.serch-btn{right: 2rem;}
 
 .gnb-list .right .sns {width: 100%;padding-top: 12rem; display: flex; justify-content: space-around;}

 @media  screen and (max-width: 1300px) {
	.gnb-list .gnb{display: block;}
	.gnb-list .right{width: 80%;margin: 3rem auto 0;}
 }

 .sector-visual{width: 100%; height: 40rem; position: relative; background-image: url('/public/img/main.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}
 .sector-visual:before{content: ''; position: absolute; bottom: 0; left: 0; right: 0; width:100%;height: 20rem; background: linear-gradient(180deg, transparent 0%,  rgba(0,0,0,1) 100%);}
 .sector-visual .title {text-align: center; color:#fff; position: absolute;bottom: 3rem; left: 0; right: 0; width: 100%;height: 5rem; }
 .sector-visual .title p{font-size: 1.5rem;}
 .sector-visual .title h3{font-size: 3rem; font-weight: 400; margin-top: 1rem;}
 @media  screen and (max-width: 768px) {
  header .logo_menu{position: relative; text-align: left;} 
  .gnb ul{margin:0; width: 100%; padding: 0 2rem; box-sizing: border-box;}
  .sector-visual{height: 35rem;}
  .sector-visual:before{height: 10rem;}
  .sector-visual .title p{font-size: 1rem;}
 .sector-visual .title h3{font-size: 2rem; font-weight: 400; margin-top: 1rem;}

 }

 .post{
	display: flex;
 }

 h1{
	font-size: 3rem; margin: 5rem 15px 2rem;
 }
 .post >div{margin: 0 15px 5rem; }
 .big-cell{
	width: calc(60% - 30px);
	height: 50rem;
	background: #ccc;

 }
 .big-cell a{ width: 100%; height: 100%; display: block; position: relative; }
 .big-cell a .text-box{position: absolute; bottom: 0; left: 0; right: 0;padding: 3rem 1rem; color: #fff;}
 .big-cell a .text-box strong, span{font-size: 1.2rem; }
 .big-cell a .text-box strong:after{content: ''; width: 1px; height: 1rem; vertical-align: 0.1rem; display: inline-block; margin: 0 0.5rem; background: #fff;}
 .big-cell a p{font-size: 2rem; margin-top: 1rem; line-height: 1.2;}
 .big-cell a p  br{display: none;}

 @media  screen and (max-width: 1300px) {
	.post{
		display: block;
	}
	.big-cell{
		width: calc(100% - 30px);
	}
 }


 @media  screen and (max-width: 445px) {
	.big-cell a p  br{display: block;}
	.big-cell{height: 30rem;}
	.big-cell a p{font-size: 1.2rem;}

 }


 .grid-cell{display: flex; flex-wrap: wrap;}
 .grid-cell.block{display: flex; flex-wrap: nowrap; justify-content: space-between; width: 100%;}
 .grid-cell.block .small-cell:nth-child(2n){margin-right: 15px;}
 .grid-cell .small-cell{width:calc(50% - 15px); margin-right:15px;}
 .grid-cell .small-cell:nth-child(2n){margin-right: 0;}
 .grid-cell .small-cell .img-box{width: 100%; height: 16.5rem; background: #ccc;}
 .grid-cell .small-cell .text-box{margin: 1rem 0 2rem;}
 .grid-cell .small-cell .text-box strong {font-size: 1rem; }
 .grid-cell .small-cell .text-box p {font-size: 1.3rem; font-weight: 900; margin: 1rem 0 1.5rem; letter-spacing: -1px;}
 .grid-cell .small-cell .text-box span {font-size: 0.8rem; color:#bbb}
 .grid-cell .small-cell .text-box span:after{content: ''; display: inline-block; width: 1px; height: 0.8rem; background: #ccc; margin: 0 0.5rem;}
 .grid-cell .small-cell .text-box span:last-child:after{display: none;}
 .small-cell br{display: none;}
 
 @media  screen and (max-width: 1300px) {
.grid-cell .small-cell {margin-right: 30px;}
.grid-cell .small-cell .text-box{margin-bottom: 2rem;}

 }
 
 @media  screen and (max-width: 768px) {
.grid-cell .small-cell {margin-right: 30px;}
.grid-cell .small-cell .text-box{margin-bottom: 2rem;}
.grid-cell .small-cell .text-box p{font-size: 1.2rem}
.grid-cell.block{flex-wrap: wrap; margin: 0 15px; width: calc(100% - 15px);}
.grid-cell.block .small-cell{margin-right: 15px;}
 }

 @media  screen and (max-width: 445px) {
	.grid-cell{display: block;}
.grid-cell .small-cell{width: 100%;}

 }

 @media  screen and (max-width: 325px) {
	.small-cell br{display: block;}

 }


footer{
	padding: 4rem 0;
	background-color: #000;
	color:#fff;
}

footer .footer-box{text-align: center;}
footer .footer-box h2{font-size: 3rem; margin-bottom: 2rem;}
@media  screen and (max-width: 768px) {
	footer .footer-box h2{font-size: 2rem;}
	footer .footer-box p{font-size: 0.7rem;}
 }